# Manta M8P V2.0 — socket M2
[manual_stepper m2]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
velocity: 2
accel: 5

[tmc2209 manual_stepper m2]
uart_pin: PE3
run_current: 0.30
sense_resistor: 0.110
interpolate: False
stealthchop_threshold: 0
