# Manta M8P V2.0 — socket M3
[manual_stepper m3]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
microsteps: 16
rotation_distance: 40
velocity: 2
accel: 5

[tmc2209 manual_stepper m3]
uart_pin: PB9
run_current: 0.30
sense_resistor: 0.110
interpolate: False
stealthchop_threshold: 0
