# Manta M8P V2.0 — socket M6
[manual_stepper m6]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 16
rotation_distance: 40
velocity: 2
accel: 5

[tmc2209 manual_stepper m6]
uart_pin: PG10
run_current: 0.30
sense_resistor: 0.110
interpolate: False
stealthchop_threshold: 0
