# Manta M8P V2.0 — socket M8
[manual_stepper m8]
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
microsteps: 16
rotation_distance: 40
velocity: 2
accel: 5

[tmc2209 manual_stepper m8]
uart_pin: PC6
run_current: 0.30
sense_resistor: 0.110
interpolate: False
stealthchop_threshold: 0
